/*= require syntax_highlighting */

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 50px 0 0 0;
}

pre {
  padding: 15px;
  line-height: 1.4;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: 12px;
}

#jump {
  color: #444;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  border-bottom: 2px solid #CDCDCD;
  background-color: #CDCDCD;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
}

.line-highlight {
  background-color: #e9e9e9;
}

.column-highlight {
  background-color: #fafafa;
}