<html>
<head>
	<title>Beautified Javascript</title>
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="source-map.min.js"></script>
    <script src="source-map-view.js"></script>
    <script>

    // Generated Source Map
    window.rawSourceMap = {};

    </script>
<body>
<pre id="source">
</pre>
</body>
</html>
